<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>controller.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addFlowerToCartServlet</servlet-name>
        <servlet-class>controller.addFlowerToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToCartServlet</servlet-name>
        <servlet-class>controller.addToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCartQuantity</servlet-name>
        <servlet-class>controller.updateCartQuantity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>controller.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCartServlet</servlet-name>
        <servlet-class>controller.SaveCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>controller.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancleOrderServlet</servlet-name>
        <servlet-class>controller.cancleOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteFlowerServlet</servlet-name>
        <servlet-class>controller.deleteFlowerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateFlowerServlet</servlet-name>
        <servlet-class>controller.updateFlowerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadFlowerServlet</servlet-name>
        <servlet-class>controller.LoadFlowerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFlowerServlet</servlet-name>
        <servlet-class>controller.AddFlowerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>controller.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>controller.deleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrderServlet</servlet-name>
        <servlet-class>controller.ManageOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderServlet</servlet-name>
        <servlet-class>controller.UpdateOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addFlowerToCartServlet</servlet-name>
        <url-pattern>/addFlowerToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCartServlet</servlet-name>
        <url-pattern>/addToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCartQuantity</servlet-name>
        <url-pattern>/updateCartQuantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCartServlet</servlet-name>
        <url-pattern>/SaveCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancleOrderServlet</servlet-name>
        <url-pattern>/cancleOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteFlowerServlet</servlet-name>
        <url-pattern>/deleteFlowerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateFlowerServlet</servlet-name>
        <url-pattern>/updateFlowerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadFlowerServlet</servlet-name>
        <url-pattern>/LoadFlowerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFlowerServlet</servlet-name>
        <url-pattern>/AddFlowerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrderServlet</servlet-name>
        <url-pattern>/ManageOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderServlet</servlet-name>
        <url-pattern>/UpdateOrderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
